* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(0, 0, 48);
    color: white;
    font-family: "Poppins", sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 175px;
    background-color: rgb(4, 4, 85);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 23px;
}

.left {
    font-size: 2.25rem;
    position: relative;
    left: -80px;
}

/* .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

#fading-image {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}


.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 120px 0;
}

.firstSection>div {
    width: 30%;
}

.leftFirstSection {
    font-size: 3.5rem;
}

#name {
    color: rgb(251, 122, 1);
}


nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: aqua;
    font-size: 1.01rem;
}

#element {
    color: rgb(251, 122, 1);
}

#hr-intro {
    border: 0;
    background: rgb(153, 112, 112);
    height: 1px;
    margin: 120px 84px;
}

.text-gray {
    color: gray;
    font-weight: bold;
}

.secondSection {
    max-width: 80vw;
    margin: 50px 100px 500px 100px;
    /* height: 80vh; */
}

.secondSection h1 {
    font-size: 1.9rem;
}

.secondSection .box {
    width: 80vw;
    background-color: white;
    height: 2px;
    margin: 200px 50px 100px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.secondSection .box .vertical {
    height: 50px;
    width: 2px;
    background-color: white;
    margin: 0 100px;
}

.image-top {
    width: 50px;
    position: relative;
    top: -32px;
    left: -25px;
}

.vertical-title {
    width: 180px;
    position: relative;
    top: 20px;
    left: -50px;
}

.vertical-desc {
    position: relative;
    top: 35px;
    left: -50px;
    width: 180px;
    color: gray;
}

#about-hr {
    border: 0;
    background: rgb(153, 112, 112);
    height: 1px;
    margin: 40px 84px;
}

#projects-hr{
    border: 0;
    background: rgb(153, 112, 112);
    height: 1px;
    margin: 40px 84px;
}

.projectTitle{
    margin: auto;
    width: 90vw;
}

.projectList{
    margin-top: 80px;
    margin-bottom: 80px;
    width: 90vw;
    display: flex;
    justify-content: space-around;
}

.firstProject{
    margin-top: 150px;
    margin-bottom: 100px;
}

/* .projectImageClass{
    margin: auto 100px auto 100px;
    max-width: 200px;
} */

.projectImage{
    width: 100px;
}

.firstProjectImage{
    position: relative;
    right: -20px;
}

.secondProjectImage{
    /* margin-top: 80px; */
    width: 200px;
}

.secondProjectText{
    /* margin-top: 80px; */
    position: relative;
    right: 10px;
}

.secondProject{
    margin-bottom: 150px;
}

.contact {
    margin: auto;
    width: 90vw;
}

.links {
    margin: 200px auto 200px auto;
    display: flex;
    justify-content: space-evenly;
}

.twitter .contact-image{
    width: 50px;
    position: relative;
    top: -32px;
    left: -53px;
}

.linkedin .contact-image{
    width: 50px;
    position: relative;
    top: -32px;
    left: -60px;
}

.github .contact-image{
    width: 50px;
    position: relative;
    top: -32px;
    left: -55px;
    filter: invert(100%);
}

.email .contact-image{
    width: 50px;
    position: relative;
    top: -32px;
    left: -51px;
}

.footer{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}